<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head :: main-header(title) ">
</head>
<body>
<nav th:include="fragments/navbar :: mainNavbar"></nav>

<form action="/posts/edit" method="post" th:object="${post}">
    Title:
    <input name="title" th:value="${post.title}" th:field="*{title}" />
    <br />
    Body:
    <input name="body" th:value="${post.body}" th:field="*{body}" />
    <br />
    <input type="submit" />
</form>

<footer th:include="fragments/footer :: mainFooter"></footer>
</body>
</html>