
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head :: main-header('View post')"></head>
<body>
<nav th:include="fragments/navbar :: mainNavbar"></nav>

<!-- Content of the page -->

<div>
    <h1 th:text="${post.title}"></h1>
    <p th:text="${post.body}"></p>
    Created by: <a th:href="@{'mailto:' + ${post.user.email} }"><span th:text="${post.user.username}"></span></a>
    <button><a th:href="@{/posts/{id}/edit(id=${post.id})}" th:text="Edit"></a></button>
    <form method="post" th:action="${'/posts/' + post.id + '/delete'}" class="col-md-6">
        <input class="btn btn-block btn-danger" type="submit" value="Delete This Post" />
    </form>
</div>

<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>